body {
    background: unset !important;
}

.toolbar {
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 4rem;
}
